.comment {
  .text {
    color: #444444;
    margin-bottom: 0.5em;
  }

  .body {
    .wrapper {
      .actions {
        line-height: 1.2;
        padding-bottom: 0.5em;
      }

      .votes {
        display: flex;
        gap: 0.25em;

        button {
          color: #999999;
          cursor: pointer;
          background: 0;
          border: 0;
          padding: 0;
          padding-bottom: 0.2em;
          border-bottom: 1px solid #aaaaaa;

          &.done:first-child {
            color: rgb(194, 83, 42);
          }

          &.done:last-child {
            color: rgb(92, 71, 212);
          }

          &:hover {
            color: #555555;
          }
        }
      }
    }
  }

  .body:first-child {
    border-left: 4px solid #666666;
    border-right: 4px solid hsl(0, 0%, 64%);
  }

  .comment {
    margin-left: 0em;
    padding-left: 1vw;
    .body {
      border-left: 4px solid hsl(340, 57%, 64%);
    }
    .comment {
      .body {
        border-left-color: hsl(60, 57%, 64%);
      }
      .comment {
        .body {
          border-left-color: hsl(270, 57%, 64%);
        }
        .comment {
          .body {
            border-left-color: hsl(0, 57%, 64%);
          }
          .comment {
            .body {
              border-left-color: hsl(200, 57%, 64%);
            }
            .comment {
              .body {
                border-left-color: hsl(90, 57%, 64%);
              }
              .comment {
                .body {
                  border-left-color: hsl(340, 57%, 64%);
                }
                .comment {
                  .body {
                    border-left-color: hsl(190, 57%, 64%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  overflow-wrap: anywhere;
}

.header > *::before {
  @apply font-bold mr-2 inline-block;
  content: '\00B7';
}

.author::before {
  @apply hidden;
}

.body {
  margin-top: -1px;
}
